#player,#player a{ font-size: 10px; font-family:kristen ITC;color:#ffffff; }
#player{ background:url(http://static.tumblr.com/thngg2e/ksMminvvv/scmp_skin3.png); background-position:bottom; }
#player .mainImage{ background:url(http://static.tumblr.com/thngg2e/OaBminvtb/scmp_skin.png); }
#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/thngg2e/hVUminvul/scmp_skin1.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }
#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#ccc;  }
#player #seekerBuffered{ background-color:#ffffff; }
#player #seekerSliderBase{ background-color:#ccc; }
#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/thngg2e/ksMminvvv/scmp_skin3.png); }
#playlist,#playlist .module,#playlist h3{ border-color:#000000;}
#playlist .module{  color:#ffffff; background-color:#000000; }
#playlist h3{ background:url(http://static.tumblr.com/thngg2e/NWSminvxm/scmp_skin4.png); color:#fff; background-color:#333;  }
#playlist .even{background-color:#000000;}
#playlist .odd{ background-color:#00000;}
#playlist .focus{ background-color:#ffffff; color:#000000;}
