#player,#player a{ color:#000; font-size: 10; font-family: tahoma; }
#player{ background:url(http://img6.imageshack.us/img6/7067/c0h2.png); background-position:bottom; background-color: #fff;}
#player .mainImage{background:url(http://img21.imageshack.us/img21/9369/5ep8.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://img24.imageshack.us/img24/8729/nelk.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#fff;  }
#player #seekerBuffered{ background-color:#000; }
#player #seekerSliderBase{ background-color:#fff; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://img6.imageshack.us/img6/7067/c0h2.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#fff;}
#playlist .module{  color:#333; background-color:#fff; }
#playlist h3{ background:url(); color:#000; background-color:#fff;  }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#fff;}
#playlist .focus{ background-color:#fff; color:#000;}
